#
# Requirements file for SimpleITK Imaris Python 3.7 extensions.
#
SimpleITK >= 2.0.0
numpy
pandas
h5py>=2.10.0
PySide6
openpyxl
docutils   #used for converting rst to html (see help_dialog.py)
pygments   #used for code highlighting (see help_dialog.py)
qdarkstyle #dark stylesheet for Qt applications
matplotlib
sitkibex #sitk-ibex registration

