#
# Requirements file for SimpleITK Imaris extensions.
# Python 3.7.0 is the Python version supported by imaris. SimpleITK version
# 2.2.1 is the last version providing binaries for 3.7.0.
#
SimpleITK == 2.2.1; python_version == '3.7'
numpy
scipy
pandas
h5py>=2.10.0
PySide6
openpyxl
docutils   #used for converting rst to html (see help_dialog.py)
pygments   #used for code highlighting (see help_dialog.py)
qdarkstyle #dark stylesheet for Qt applications
matplotlib
sitkibex #sitk-ibex registration

